USE [master]
GO
/****** Object:  Database [Sarp Yücel Proje]    Script Date: 4.05.2025 18:04:08 ******/
CREATE DATABASE [Sarp Yücel Proje]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Sarp Yücel Proje', FILENAME = N'C:\Users\Sarp\Desktop\MSSQL16.SQLEXPRESS02\MSSQL\DATA\Sarp Yücel Proje.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Sarp Yücel Proje_log', FILENAME = N'C:\Users\Sarp\Desktop\MSSQL16.SQLEXPRESS02\MSSQL\DATA\Sarp Yücel Proje_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Sarp Yücel Proje].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Sarp Yücel Proje]
GO
/****** Object:  UserDefinedFunction [dbo].[fn_KDVliFiyatHesapla]    Script Date: 4.05.2025 18:04:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE FUNCTION [dbo].[fn_KDVliFiyatHesapla]
(
    @Fiyat decimal(10,2)
)
RETURNS decimal(10,2)
AS
BEGIN
    DECLARE @KDVliFiyat decimal(10,2)
    SET @KDVliFiyat = @Fiyat * 1.18  -- %18 KDV
    RETURN @KDVliFiyat
END
GO
/****** Object:  UserDefinedFunction [dbo].[fn_MusteriToplamSiparis]    Script Date: 4.05.2025 18:04:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE FUNCTION [dbo].[fn_MusteriToplamSiparis]
(
    @MusteriID int
)
RETURNS decimal(15,2)
AS
BEGIN
    DECLARE @ToplamTutar decimal(15,2)
    
    SELECT @ToplamTutar = SUM(ToplamFiyat)
    FROM Siparisler
    WHERE MusteriID = @MusteriID
    
    RETURN ISNULL(@ToplamTutar, 0)
END
GO
/****** Object:  Table [dbo].[Urunler]    Script Date: 4.05.2025 18:04:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Urunler](
	[UrunID] [int] NOT NULL,
	[UrunAdi] [varchar](100) NULL,
	[Kategori] [varchar](100) NULL,
	[Fiyat] [decimal](10, 2) NULL,
	[StokMiktari] [int] NULL,
	[TedarikciID] [int] NULL,
	[SatinAlmaTarihi] [date] NULL,
	[RafOmru] [varchar](50) NULL,
	[Barkod] [varchar](50) NULL,
	[PaketBoyutu] [varchar](50) NULL,
	[TedarikSureci] [varchar](50) NULL,
	[DepolamaKosullari] [varchar](100) NULL,
	[KampanyaDurumu] [varchar](50) NULL,
	[TedarikMaliyet] [decimal](10, 2) NULL,
	[KazancMarji] [decimal](5, 2) NULL,
	[UrunAciklama] [text] NULL,
PRIMARY KEY CLUSTERED 
(
	[UrunID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  UserDefinedFunction [dbo].[fn_KategoridekiUrunler]    Script Date: 4.05.2025 18:04:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE FUNCTION [dbo].[fn_KategoridekiUrunler]
(
    @Kategori varchar(100)
)
RETURNS TABLE
AS
RETURN
(
    SELECT 
        UrunID,
        UrunAdi,
        Fiyat,
        StokMiktari
    FROM Urunler
    WHERE Kategori = @Kategori
)
GO
/****** Object:  Table [dbo].[Siparisler]    Script Date: 4.05.2025 18:04:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Siparisler](
	[SiparisID] [int] NOT NULL,
	[MusteriID] [int] NULL,
	[UrunID] [int] NULL,
	[SiparisTarihi] [date] NULL,
	[TeslimTarihi] [date] NULL,
	[SiparisDurumu] [varchar](50) NULL,
	[Miktar] [int] NULL,
	[BirimFiyat] [decimal](10, 2) NULL,
	[ToplamFiyat] [decimal](15, 2) NULL,
	[KargoFirmasi] [varchar](100) NULL,
	[KargoTakipNo] [varchar](50) NULL,
	[OdemeDurumu] [varchar](50) NULL,
	[FaturaNo] [varchar](50) NULL,
	[IndirimOrani] [decimal](5, 2) NULL,
	[TeslimEdildiMi] [varchar](10) NULL,
PRIMARY KEY CLUSTERED 
(
	[SiparisID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  UserDefinedFunction [dbo].[fn_MusteriSiparisleri]    Script Date: 4.05.2025 18:04:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE FUNCTION [dbo].[fn_MusteriSiparisleri]
(
    @MusteriID int
)
RETURNS TABLE
AS
RETURN
(
    SELECT 
        s.SiparisID,
        s.SiparisTarihi,
        u.UrunAdi,
        s.Miktar,
        s.BirimFiyat,
        s.ToplamFiyat
    FROM Siparisler s
    JOIN Urunler u ON s.UrunID = u.UrunID
    WHERE s.MusteriID = @MusteriID
)
GO
/****** Object:  Table [dbo].[Musteriler]    Script Date: 4.05.2025 18:04:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Musteriler](
	[MusteriID] [int] NOT NULL,
	[Ad] [varchar](50) NULL,
	[Soyad] [varchar](50) NULL,
	[Telefon] [varchar](15) NULL,
	[Email] [varchar](100) NULL,
	[Adres] [varchar](255) NULL,
	[Sehir] [varchar](50) NULL,
	[Ulke] [varchar](50) NULL,
	[PostaKodu] [varchar](10) NULL,
	[KayitTarihi] [date] NULL,
	[SiparisSayisi] [int] NULL,
	[ToplamHarcamalar] [decimal](15, 2) NULL,
	[SonSiparisTarihi] [date] NULL,
	[MusteriMemnuniyetPuan] [int] NULL,
	[AktifMi] [varchar](10) NULL,
PRIMARY KEY CLUSTERED 
(
	[MusteriID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[vw_SiparisDetaylari]    Script Date: 4.05.2025 18:04:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE VIEW [dbo].[vw_SiparisDetaylari]
AS
SELECT 
    s.SiparisID,
    m.Ad + ' ' + m.Soyad as MusteriAdi,
    u.UrunAdi,
    s.Miktar,
    s.BirimFiyat,
    s.ToplamFiyat,
    s.SiparisTarihi
FROM Siparisler s
INNER JOIN Musteriler m ON s.MusteriID = m.MusteriID
INNER JOIN Urunler u ON s.UrunID = u.UrunID
GO
/****** Object:  View [dbo].[vw_UrunSiparisDurumu]    Script Date: 4.05.2025 18:04:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE VIEW [dbo].[vw_UrunSiparisDurumu]
AS
SELECT 
    u.UrunID,
    u.UrunAdi,
    u.Kategori,
    u.Fiyat,
    u.StokMiktari,
    COUNT(s.SiparisID) as SiparisSayisi,
    ISNULL(SUM(s.Miktar), 0) as ToplamSatilanMiktar
FROM Urunler u
LEFT JOIN Siparisler s ON u.UrunID = s.UrunID
GROUP BY u.UrunID, u.UrunAdi, u.Kategori, u.Fiyat, u.StokMiktari
GO
/****** Object:  Table [dbo].[Calisanlar]    Script Date: 4.05.2025 18:04:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Calisanlar](
	[CalisanID] [int] NOT NULL,
	[Ad] [varchar](50) NULL,
	[Soyad] [varchar](50) NULL,
	[DogumTarihi] [date] NULL,
	[Pozisyon] [varchar](50) NULL,
	[Maas] [decimal](10, 2) NULL,
	[IseBaslamaTarihi] [date] NULL,
	[TelefonNo] [varchar](255) NOT NULL,
	[Email] [varchar](255) NOT NULL,
	[Adres] [varchar](255) NULL,
	[DepartmanID] [int] NULL,
	[SosyalGuvenlikNo] [varchar](255) NOT NULL,
	[Cinsiyet] [char](1) NULL,
	[MedeniDurum] [varchar](10) NULL,
	[Uyruk] [varchar](50) NULL,
	[EgitimDurumu] [varchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[CalisanID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Departmanlar]    Script Date: 4.05.2025 18:04:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Departmanlar](
	[DepartmanID] [int] NOT NULL,
	[DepartmanAdi] [varchar](100) NULL,
	[Aciklama] [text] NULL,
	[MudurID] [int] NULL,
	[KurulusTarihi] [date] NULL,
	[Konum] [varchar](100) NULL,
	[Telefon] [varchar](15) NULL,
	[Email] [varchar](100) NULL,
	[Bütce] [decimal](15, 2) NULL,
	[CalisanSayisi] [int] NULL,
	[Hedefler] [text] NULL,
	[FaaliyetAlani] [varchar](100) NULL,
	[WebSitesi] [varchar](100) NULL,
	[SosyalMedya] [varchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[DepartmanID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  View [dbo].[vw_CalisanDepartmanBilgileri]    Script Date: 4.05.2025 18:04:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE VIEW [dbo].[vw_CalisanDepartmanBilgileri]
AS
SELECT 
    d.DepartmanAdi,
    d.Konum,
    c.Ad,
    c.Soyad,
    c.Pozisyon,
    c.Maas,
    c.IseBaslamaTarihi
FROM Calisanlar c
RIGHT JOIN Departmanlar d ON c.DepartmanID = d.DepartmanID
GO
/****** Object:  Table [dbo].[Odemeler]    Script Date: 4.05.2025 18:04:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Odemeler](
	[OdemelerID] [int] IDENTITY(1,1) NOT NULL,
	[SiparisID] [int] NOT NULL,
	[OdemeTarihi] [date] NOT NULL,
	[OdemeTutari] [decimal](10, 2) NOT NULL,
	[OdemeYontemi] [nvarchar](50) NULL,
	[FaturaNo] [nvarchar](100) NULL,
	[FaturaTarihi] [date] NULL,
	[KDVOrani] [decimal](4, 2) NULL,
	[OdemeDurumu] [nvarchar](20) NULL,
	[Aciklama] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[OdemelerID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[vw_SiparisOdemeDurumu]    Script Date: 4.05.2025 18:04:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE VIEW [dbo].[vw_SiparisOdemeDurumu]
AS
SELECT 
    s.SiparisID,
    s.SiparisTarihi,
    s.ToplamFiyat as SiparisTutari,
    o.OdemelerID,
    o.OdemeTarihi,
    o.OdemeTutari,
    o.OdemeYontemi,
    CASE 
        WHEN o.OdemeTutari IS NULL THEN 'Ödeme Yapılmadı'
        WHEN o.OdemeTutari < s.ToplamFiyat THEN 'Eksik Ödeme'
        WHEN o.OdemeTutari = s.ToplamFiyat THEN 'Tam Ödeme'
        ELSE 'Fazla Ödeme'
    END as OdemeDurumu
FROM Siparisler s
FULL OUTER JOIN Odemeler o ON s.SiparisID = o.SiparisID
GO
/****** Object:  Table [dbo].[Egitimler]    Script Date: 4.05.2025 18:04:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Egitimler](
	[EgitimID] [int] NOT NULL,
	[EgitimAdi] [varchar](100) NULL,
	[EgitimTarihi] [date] NULL,
	[SüreSaat] [int] NULL,
	[Egitimci] [varchar](100) NULL,
	[Konu] [varchar](255) NULL,
	[KatilimciSayisi] [int] NULL,
	[Yer] [varchar](100) NULL,
	[SertifikaAdi] [varchar](100) NULL,
	[IcerikAciklama] [text] NULL,
	[TeknikSeviye] [varchar](50) NULL,
	[Maliyet] [decimal](10, 2) NULL,
	[DepartmanID] [int] NULL,
	[DeğerlendirmePuan] [int] NULL,
	[OlusturanKisi] [varchar](100) NULL,
	[OlusturmaTarihi] [date] NULL,
	[GüncelleyenKisi] [varchar](100) NULL,
	[GüncellemeTarihi] [date] NULL,
PRIMARY KEY CLUSTERED 
(
	[EgitimID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Envanter]    Script Date: 4.05.2025 18:04:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Envanter](
	[EnvanterID] [int] NOT NULL,
	[UrunID] [int] NULL,
	[DepoID] [int] NULL,
	[Miktar] [int] NULL,
	[GirisTarihi] [date] NULL,
	[Barkod] [varchar](50) NULL,
	[RafNo] [varchar](50) NULL,
	[SevkiyatDurumu] [varchar](50) NULL,
	[DepoKonumu] [varchar](100) NULL,
	[StokSeviyesi] [varchar](50) NULL,
	[SonGuncelleme] [date] NULL,
	[IadeEdilenMiktar] [int] NULL,
	[FaturaNo] [varchar](50) NULL,
	[IslemNo] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[EnvanterID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KargoSirketleri]    Script Date: 4.05.2025 18:04:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KargoSirketleri](
	[SirketID] [int] NOT NULL,
	[SirketAdi] [varchar](100) NULL,
	[Telefon] [varchar](15) NULL,
	[Email] [varchar](100) NULL,
	[Adres] [varchar](255) NULL,
	[Sehir] [varchar](50) NULL,
	[Ulke] [varchar](50) NULL,
	[PostaKodu] [varchar](10) NULL,
	[TemsilciAd] [varchar](50) NULL,
	[TemsilciSoyad] [varchar](50) NULL,
	[TemsilciTelefon] [varchar](15) NULL,
	[KargoUcreti] [varchar](100) NULL,
	[HizmetKalitesiPuan] [int] NULL,
	[Referanslar] [text] NULL,
PRIMARY KEY CLUSTERED 
(
	[SirketID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Kullanicilar]    Script Date: 4.05.2025 18:04:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Kullanicilar](
	[KullaniciID] [int] NOT NULL,
	[KullaniciAdi] [nvarchar](50) NOT NULL,
	[Sifre] [nvarchar](100) NOT NULL,
	[AdSoyad] [nvarchar](100) NULL,
	[Rol] [nvarchar](50) NULL,
	[Eposta] [nvarchar](100) NULL,
	[Telefon] [nvarchar](20) NULL,
	[KayitTarihi] [date] NULL,
	[SonGirisTarihi] [datetime] NULL,
	[Durum] [nvarchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[KullaniciID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Projeler]    Script Date: 4.05.2025 18:04:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Projeler](
	[ProjeID] [int] NOT NULL,
	[ProjeAdi] [varchar](100) NULL,
	[BaslangicTarihi] [date] NULL,
	[BitisTarihi] [date] NULL,
	[Durum] [varchar](50) NULL,
	[Bütce] [decimal](15, 2) NULL,
	[ProjeYoneticisiID] [int] NULL,
	[MusteriID] [int] NULL,
	[Aciklama] [text] NULL,
	[RiskDurumu] [varchar](50) NULL,
	[ToplamHarcamalar] [decimal](15, 2) NULL,
	[GelirTahmini] [decimal](15, 2) NULL,
	[TakimSayisi] [int] NULL,
	[GecikmeDurumu] [varchar](50) NULL,
	[Oncelik] [varchar](50) NULL,
	[TeknikDetaylar] [text] NULL,
	[Sorunlar] [text] NULL,
	[CözümYolları] [text] NULL,
PRIMARY KEY CLUSTERED 
(
	[ProjeID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Tedarikciler]    Script Date: 4.05.2025 18:04:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tedarikciler](
	[TedarikciID] [int] NOT NULL,
	[FirmaAdi] [varchar](100) NULL,
	[Telefon] [varchar](15) NULL,
	[Email] [varchar](100) NULL,
	[Adres] [varchar](255) NULL,
	[Sehir] [varchar](50) NULL,
	[Ulke] [varchar](50) NULL,
	[PostaKodu] [varchar](10) NULL,
	[TemsilciAd] [varchar](50) NULL,
	[TemsilciSoyad] [varchar](50) NULL,
	[TemsilciTelefon] [varchar](15) NULL,
	[WebSitesi] [varchar](100) NULL,
	[OdemeYontemi] [text] NULL,
	[AktifMi] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[TedarikciID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UrunlerYedek]    Script Date: 4.05.2025 18:04:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UrunlerYedek](
	[UrunID] [int] NOT NULL,
	[UrunAdi] [varchar](100) NULL,
	[Kategori] [varchar](100) NULL,
	[Fiyat] [decimal](10, 2) NULL,
	[StokMiktari] [int] NULL,
	[TedarikciID] [int] NULL,
	[SatinAlmaTarihi] [date] NULL,
	[RafOmru] [varchar](50) NULL,
	[Barkod] [varchar](50) NULL,
	[PaketBoyutu] [varchar](50) NULL,
	[TedarikSureci] [varchar](50) NULL,
	[DepolamaKosullari] [varchar](100) NULL,
	[KampanyaDurumu] [varchar](50) NULL,
	[TedarikMaliyet] [decimal](10, 2) NULL,
	[KazancMarji] [decimal](5, 2) NULL,
	[UrunAciklama] [text] NULL,
	[IslemTarihi] [datetime] NULL,
	[IslemYapanKullanici] [varchar](50) NULL,
	[SilindiMi] [bit] NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
INSERT [dbo].[Calisanlar] ([CalisanID], [Ad], [Soyad], [DogumTarihi], [Pozisyon], [Maas], [IseBaslamaTarihi], [TelefonNo], [Email], [Adres], [DepartmanID], [SosyalGuvenlikNo], [Cinsiyet], [MedeniDurum], [Uyruk], [EgitimDurumu]) VALUES (1, N'Tolga', N'Yılmaz', CAST(N'1995-05-12' AS Date), N'Müdür', CAST(80000.00 AS Decimal(10, 2)), CAST(N'2012-05-15' AS Date), N'90+11111111111', N'tolga@gmail.com', N'İzmir/balçova', 1, N'11111', N'E', N'Evli', N'Türk', N'Üniversite mezunu')
INSERT [dbo].[Calisanlar] ([CalisanID], [Ad], [Soyad], [DogumTarihi], [Pozisyon], [Maas], [IseBaslamaTarihi], [TelefonNo], [Email], [Adres], [DepartmanID], [SosyalGuvenlikNo], [Cinsiyet], [MedeniDurum], [Uyruk], [EgitimDurumu]) VALUES (2, N'Ahmet', N'Demir', CAST(N'1990-08-28' AS Date), N'Programcı', CAST(40000.00 AS Decimal(10, 2)), CAST(N'2023-03-07' AS Date), N'90+22222222222', N'ahmet@gmail.com', N'İzmir/gaziemir', 1, N'22222', N'E', N'Evli', N'Türk', N'Üniversite mezunu')
INSERT [dbo].[Calisanlar] ([CalisanID], [Ad], [Soyad], [DogumTarihi], [Pozisyon], [Maas], [IseBaslamaTarihi], [TelefonNo], [Email], [Adres], [DepartmanID], [SosyalGuvenlikNo], [Cinsiyet], [MedeniDurum], [Uyruk], [EgitimDurumu]) VALUES (3, N'Mehmet', N'Kaya', CAST(N'1985-11-02' AS Date), N'Programcı', CAST(40000.00 AS Decimal(10, 2)), CAST(N'2022-08-27' AS Date), N'90+33333333333', N'mehmet@gmail.com', N'İzmir/buca', 1, N'33333', N'E', N'Evli', N'Türk', N'Üniversite mezunu')
GO
INSERT [dbo].[Departmanlar] ([DepartmanID], [DepartmanAdi], [Aciklama], [MudurID], [KurulusTarihi], [Konum], [Telefon], [Email], [Bütce], [CalisanSayisi], [Hedefler], [FaaliyetAlani], [WebSitesi], [SosyalMedya]) VALUES (1, N'Bilgi Teknolojileri', N'yazılım geliştirme', 101, CAST(N'2010-01-01' AS Date), N'İzmir', N'02121234567L', N'bt@gmail.com', CAST(100000000.00 AS Decimal(15, 2)), 10, N'Dijital dönüşüm hedefleri', N'Teknoloji', N'www.bt.com', N'@bt_dept')
INSERT [dbo].[Departmanlar] ([DepartmanID], [DepartmanAdi], [Aciklama], [MudurID], [KurulusTarihi], [Konum], [Telefon], [Email], [Bütce], [CalisanSayisi], [Hedefler], [FaaliyetAlani], [WebSitesi], [SosyalMedya]) VALUES (2, N'Pazarlama', N'Şirket pazarlama faaliyetleri', 102, CAST(N'2008-03-15' AS Date), N'İzmir', N'03121234567', N'pazarlama@gmail.com', CAST(50000000.00 AS Decimal(15, 2)), 20, N'Pazar liderliği', N'Tanıtım ve reklam', N'www.marketing.com', N'@marketing_team')
INSERT [dbo].[Departmanlar] ([DepartmanID], [DepartmanAdi], [Aciklama], [MudurID], [KurulusTarihi], [Konum], [Telefon], [Email], [Bütce], [CalisanSayisi], [Hedefler], [FaaliyetAlani], [WebSitesi], [SosyalMedya]) VALUES (3, N'İnsan Kaynakları', N'Çalışan ilişkileri ve işe alım süreçleri', 103, CAST(N'2015-05-10' AS Date), N'İzmir', N'02321234567', N'ik@gmail.com', CAST(300000.00 AS Decimal(15, 2)), 30, N'Etkili işe alım', N'İK Yönetimi', N'www.hr.com', N'@hr_dept')
GO
INSERT [dbo].[Egitimler] ([EgitimID], [EgitimAdi], [EgitimTarihi], [SüreSaat], [Egitimci], [Konu], [KatilimciSayisi], [Yer], [SertifikaAdi], [IcerikAciklama], [TeknikSeviye], [Maliyet], [DepartmanID], [DeğerlendirmePuan], [OlusturanKisi], [OlusturmaTarihi], [GüncelleyenKisi], [GüncellemeTarihi]) VALUES (3, N'Zaman Yönetimi', CAST(N'2024-03-05' AS Date), 5, N'Mehmet Aksoy', N'Verimlilik artırma', 3, N'Online', N'İş süreçlerinde zaman kullanımı', NULL, N'Başlangıç', CAST(2000.00 AS Decimal(10, 2)), 1, 90, N'Jorge Jesus', CAST(N'2023-12-10' AS Date), N'Hande Akın', CAST(N'2023-12-12' AS Date))
GO
INSERT [dbo].[Envanter] ([EnvanterID], [UrunID], [DepoID], [Miktar], [GirisTarihi], [Barkod], [RafNo], [SevkiyatDurumu], [DepoKonumu], [StokSeviyesi], [SonGuncelleme], [IadeEdilenMiktar], [FaturaNo], [IslemNo]) VALUES (1, 1, 1, 200, CAST(N'2023-12-01' AS Date), N'111', N'1', N'Fazla', N'İzmir', N'Mevcut', CAST(N'2024-12-17' AS Date), 0, N'1111', N'1')
INSERT [dbo].[Envanter] ([EnvanterID], [UrunID], [DepoID], [Miktar], [GirisTarihi], [Barkod], [RafNo], [SevkiyatDurumu], [DepoKonumu], [StokSeviyesi], [SonGuncelleme], [IadeEdilenMiktar], [FaturaNo], [IslemNo]) VALUES (2, 2, 2, 300, CAST(N'2023-12-01' AS Date), N'222', N'2', N'Fazla', N'İzmir', N'Mevcut', CAST(N'2024-12-17' AS Date), 0, N'2222', N'2')
INSERT [dbo].[Envanter] ([EnvanterID], [UrunID], [DepoID], [Miktar], [GirisTarihi], [Barkod], [RafNo], [SevkiyatDurumu], [DepoKonumu], [StokSeviyesi], [SonGuncelleme], [IadeEdilenMiktar], [FaturaNo], [IslemNo]) VALUES (3, 3, 1, 300, CAST(N'2023-12-01' AS Date), N'333', N'3', N'Fazla', N'İzmir', N'Mevcut', CAST(N'2024-12-17' AS Date), 0, N'3333', N'3')
GO
INSERT [dbo].[KargoSirketleri] ([SirketID], [SirketAdi], [Telefon], [Email], [Adres], [Sehir], [Ulke], [PostaKodu], [TemsilciAd], [TemsilciSoyad], [TemsilciTelefon], [KargoUcreti], [HizmetKalitesiPuan], [Referanslar]) VALUES (1, N'Vatan', N'123123123', N'Vatan@gmail.com', N'İstanbul/Kadıköy', N'İstanbul', N'Türkiye', N'1', N'Ahmet', N'Yılmaz', N'1', N'10tl', 10, N'İnternet')
INSERT [dbo].[KargoSirketleri] ([SirketID], [SirketAdi], [Telefon], [Email], [Adres], [Sehir], [Ulke], [PostaKodu], [TemsilciAd], [TemsilciSoyad], [TemsilciTelefon], [KargoUcreti], [HizmetKalitesiPuan], [Referanslar]) VALUES (2, N'Yurtiçi', N'234234234', N'Yurtiçi@gmail.com', N'İstanbul//Nişantaşı', N'İstanbul', N'Türkiye', N'1', N'Mehmet', N'Demir', N'2', N'12tl', 10, N'İnternet')
INSERT [dbo].[KargoSirketleri] ([SirketID], [SirketAdi], [Telefon], [Email], [Adres], [Sehir], [Ulke], [PostaKodu], [TemsilciAd], [TemsilciSoyad], [TemsilciTelefon], [KargoUcreti], [HizmetKalitesiPuan], [Referanslar]) VALUES (3, N'Aras', N'345345345', N'Aras@gmail.com', N'İzmir/Balçova', N'İzmir', N'Türkiye', N'2', N'Yusuf', N'Öztürk', N'3', N'10tl', 9, N'İnternet')
GO
INSERT [dbo].[Kullanicilar] ([KullaniciID], [KullaniciAdi], [Sifre], [AdSoyad], [Rol], [Eposta], [Telefon], [KayitTarihi], [SonGirisTarihi], [Durum]) VALUES (1, N'Mert', N'1234', N'mert yılmaz', N'admin', N'mert@gmail.com', NULL, CAST(N'2025-05-01' AS Date), CAST(N'2025-05-01T15:23:00.000' AS DateTime), N'Aktif')
INSERT [dbo].[Kullanicilar] ([KullaniciID], [KullaniciAdi], [Sifre], [AdSoyad], [Rol], [Eposta], [Telefon], [KayitTarihi], [SonGirisTarihi], [Durum]) VALUES (2, N'eren', N'2345', N'eren sarı', N'satış temsilcisi', N'eren@gmail.com', N'25365312356', CAST(N'2025-02-06' AS Date), CAST(N'2025-05-01T06:19:00.000' AS DateTime), N'Aktif')
GO
INSERT [dbo].[Musteriler] ([MusteriID], [Ad], [Soyad], [Telefon], [Email], [Adres], [Sehir], [Ulke], [PostaKodu], [KayitTarihi], [SiparisSayisi], [ToplamHarcamalar], [SonSiparisTarihi], [MusteriMemnuniyetPuan], [AktifMi]) VALUES (1, N'Halil', N'Yılmaz', N'321321321', N'halil@gmail.com', N'Balçova', N'İzmir', N'Türkiye', N'35410', CAST(N'2024-12-17' AS Date), 30, CAST(40000.00 AS Decimal(15, 2)), CAST(N'2024-12-17' AS Date), 10, N'Evet')
INSERT [dbo].[Musteriler] ([MusteriID], [Ad], [Soyad], [Telefon], [Email], [Adres], [Sehir], [Ulke], [PostaKodu], [KayitTarihi], [SiparisSayisi], [ToplamHarcamalar], [SonSiparisTarihi], [MusteriMemnuniyetPuan], [AktifMi]) VALUES (2, N'Batu', N'Yılmaz', N'432432432', N'batu@gmail.com', N'Balçova', N'İzmir', N'Türkiye', N'35410', CAST(N'2020-12-17' AS Date), 80, CAST(700000.00 AS Decimal(15, 2)), CAST(N'2024-12-17' AS Date), 9, N'Evet')
INSERT [dbo].[Musteriler] ([MusteriID], [Ad], [Soyad], [Telefon], [Email], [Adres], [Sehir], [Ulke], [PostaKodu], [KayitTarihi], [SiparisSayisi], [ToplamHarcamalar], [SonSiparisTarihi], [MusteriMemnuniyetPuan], [AktifMi]) VALUES (3, N'Leyla', N'Yılmaz', N'543543534', N'leyla@gmail.com', N'Balçova', N'İzmir', N'Türkiye', N'35410', CAST(N'2018-12-17' AS Date), 23, CAST(3453.00 AS Decimal(15, 2)), CAST(N'2024-12-17' AS Date), 4, N'Evet')
GO
SET IDENTITY_INSERT [dbo].[Odemeler] ON 

INSERT [dbo].[Odemeler] ([OdemelerID], [SiparisID], [OdemeTarihi], [OdemeTutari], [OdemeYontemi], [FaturaNo], [FaturaTarihi], [KDVOrani], [OdemeDurumu], [Aciklama]) VALUES (2, 1, CAST(N'2025-04-01' AS Date), CAST(1000.00 AS Decimal(10, 2)), N'Nakit', N'1', CAST(N'2025-04-01' AS Date), CAST(20.00 AS Decimal(4, 2)), N'Ödendi', N'kulaklık alındı')
INSERT [dbo].[Odemeler] ([OdemelerID], [SiparisID], [OdemeTarihi], [OdemeTutari], [OdemeYontemi], [FaturaNo], [FaturaTarihi], [KDVOrani], [OdemeDurumu], [Aciklama]) VALUES (3, 2, CAST(N'2025-04-25' AS Date), CAST(3000.00 AS Decimal(10, 2)), N'Kredi Kartı', N'2', CAST(N'2025-04-25' AS Date), CAST(20.00 AS Decimal(4, 2)), N'Ödendi', N'akıllı saat alındı')
INSERT [dbo].[Odemeler] ([OdemelerID], [SiparisID], [OdemeTarihi], [OdemeTutari], [OdemeYontemi], [FaturaNo], [FaturaTarihi], [KDVOrani], [OdemeDurumu], [Aciklama]) VALUES (5, 3, CAST(N'2025-04-20' AS Date), CAST(15000.00 AS Decimal(10, 2)), N'Kredi kartı', N'3', CAST(N'2025-04-20' AS Date), CAST(20.00 AS Decimal(4, 2)), N'Beklemede', N'laptop alındı')
SET IDENTITY_INSERT [dbo].[Odemeler] OFF
GO
INSERT [dbo].[Siparisler] ([SiparisID], [MusteriID], [UrunID], [SiparisTarihi], [TeslimTarihi], [SiparisDurumu], [Miktar], [BirimFiyat], [ToplamFiyat], [KargoFirmasi], [KargoTakipNo], [OdemeDurumu], [FaturaNo], [IndirimOrani], [TeslimEdildiMi]) VALUES (1, 1, 1, CAST(N'2023-05-01' AS Date), CAST(N'2023-05-05' AS Date), N'Teslim Edildi', 3, CAST(5000.00 AS Decimal(10, 2)), CAST(15000.00 AS Decimal(15, 2)), N'Mng', N'1', N'Ödendi', N'1', CAST(0.00 AS Decimal(5, 2)), N'Evet')
INSERT [dbo].[Siparisler] ([SiparisID], [MusteriID], [UrunID], [SiparisTarihi], [TeslimTarihi], [SiparisDurumu], [Miktar], [BirimFiyat], [ToplamFiyat], [KargoFirmasi], [KargoTakipNo], [OdemeDurumu], [FaturaNo], [IndirimOrani], [TeslimEdildiMi]) VALUES (2, 2, 2, CAST(N'2023-05-03' AS Date), CAST(N'2023-05-08' AS Date), N'Teslim Edildi', 1, CAST(8000.00 AS Decimal(10, 2)), CAST(8000.00 AS Decimal(15, 2)), N'Ups', N'2', N'Ödendi', N'2', CAST(0.00 AS Decimal(5, 2)), N'Evet')
INSERT [dbo].[Siparisler] ([SiparisID], [MusteriID], [UrunID], [SiparisTarihi], [TeslimTarihi], [SiparisDurumu], [Miktar], [BirimFiyat], [ToplamFiyat], [KargoFirmasi], [KargoTakipNo], [OdemeDurumu], [FaturaNo], [IndirimOrani], [TeslimEdildiMi]) VALUES (3, 3, 3, CAST(N'2023-06-01' AS Date), CAST(N'2023-06-07' AS Date), N'Hazırlanıyor', 1, CAST(4500.00 AS Decimal(10, 2)), CAST(4500.00 AS Decimal(15, 2)), N'Mng', N'3', N'Ödendi', N'3', CAST(0.00 AS Decimal(5, 2)), N'Evet')
GO
INSERT [dbo].[Tedarikciler] ([TedarikciID], [FirmaAdi], [Telefon], [Email], [Adres], [Sehir], [Ulke], [PostaKodu], [TemsilciAd], [TemsilciSoyad], [TemsilciTelefon], [WebSitesi], [OdemeYontemi], [AktifMi]) VALUES (1, N'A teknoloji', N'14141414141', N'ateknoloji@gmail.com', N'İzmir, Türkiye', N'İzmir', N'Türkiye', N'35410', N'Ali', N'Yılmaz', N'10101010101', N'atec.com', N'Kredi Kartı', N'Evet')
INSERT [dbo].[Tedarikciler] ([TedarikciID], [FirmaAdi], [Telefon], [Email], [Adres], [Sehir], [Ulke], [PostaKodu], [TemsilciAd], [TemsilciSoyad], [TemsilciTelefon], [WebSitesi], [OdemeYontemi], [AktifMi]) VALUES (2, N'Z Electronic', N'25252525252', N'zelektronik@gmail.com', N'İzmir, Türkiye', N'İzmir', N'Türkiye', N'35410', N'Ayşe', N'Yılmaz', N'29292929292', N'zelektronik.com', N'Kredi Kartı', NULL)
INSERT [dbo].[Tedarikciler] ([TedarikciID], [FirmaAdi], [Telefon], [Email], [Adres], [Sehir], [Ulke], [PostaKodu], [TemsilciAd], [TemsilciSoyad], [TemsilciTelefon], [WebSitesi], [OdemeYontemi], [AktifMi]) VALUES (3, N'A teknoloji', N'36363633636', N'ogıda@gmail.com', N'İzmir, Türkiye', N'İzmir', N'Türkiye', N'35410', N'Alper', N'Yılmaz', N'38383838383', N'ogıda.com', N'Kredi Kartı', N'Evet')
GO
INSERT [dbo].[Urunler] ([UrunID], [UrunAdi], [Kategori], [Fiyat], [StokMiktari], [TedarikciID], [SatinAlmaTarihi], [RafOmru], [Barkod], [PaketBoyutu], [TedarikSureci], [DepolamaKosullari], [KampanyaDurumu], [TedarikMaliyet], [KazancMarji], [UrunAciklama]) VALUES (1, N'Laptop', N'Elektronik', CAST(15000.00 AS Decimal(10, 2)), 100, 1, CAST(N'2023-01-15' AS Date), N'2 Yıl', N'6667778889990', N'Kutu', N'7 Gün', N'Nem ve darbeye dayanıklı', N'Var', CAST(12000.00 AS Decimal(10, 2)), CAST(25.00 AS Decimal(5, 2)), N'Yüksek performanslı laptop')
INSERT [dbo].[Urunler] ([UrunID], [UrunAdi], [Kategori], [Fiyat], [StokMiktari], [TedarikciID], [SatinAlmaTarihi], [RafOmru], [Barkod], [PaketBoyutu], [TedarikSureci], [DepolamaKosullari], [KampanyaDurumu], [TedarikMaliyet], [KazancMarji], [UrunAciklama]) VALUES (2, N'Telefon', N'Elektronik', CAST(8000.00 AS Decimal(10, 2)), 50, 2, CAST(N'2023-02-10' AS Date), N'3 Yıl', N'7778889991112', N'Kutu', N'7 Gün', N'Nem ve darbeye dayanıklı', N'Var', CAST(6000.00 AS Decimal(10, 2)), CAST(33.00 AS Decimal(5, 2)), N'Akıllı telefon')
INSERT [dbo].[Urunler] ([UrunID], [UrunAdi], [Kategori], [Fiyat], [StokMiktari], [TedarikciID], [SatinAlmaTarihi], [RafOmru], [Barkod], [PaketBoyutu], [TedarikSureci], [DepolamaKosullari], [KampanyaDurumu], [TedarikMaliyet], [KazancMarji], [UrunAciklama]) VALUES (3, N'Tablet', N'Elektronik', CAST(5000.00 AS Decimal(10, 2)), 150, 3, CAST(N'2023-03-01' AS Date), N'2 Yıl', N'8889991112223', N'Kutu', N'7 Gün', N'Nem ve darbeye dayanıklı', N'Var', CAST(4000.00 AS Decimal(10, 2)), CAST(25.00 AS Decimal(5, 2)), N'Taşınabilir tablet')
GO
INSERT [dbo].[UrunlerYedek] ([UrunID], [UrunAdi], [Kategori], [Fiyat], [StokMiktari], [TedarikciID], [SatinAlmaTarihi], [RafOmru], [Barkod], [PaketBoyutu], [TedarikSureci], [DepolamaKosullari], [KampanyaDurumu], [TedarikMaliyet], [KazancMarji], [UrunAciklama], [IslemTarihi], [IslemYapanKullanici], [SilindiMi]) VALUES (15, N'Güncellenmiş Test Ürün', N'Elektronik', CAST(2000.00 AS Decimal(10, 2)), 75, 1, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, CAST(N'2025-05-02T00:49:32.647' AS DateTime), N'Sarp Yücel', 1)
INSERT [dbo].[UrunlerYedek] ([UrunID], [UrunAdi], [Kategori], [Fiyat], [StokMiktari], [TedarikciID], [SatinAlmaTarihi], [RafOmru], [Barkod], [PaketBoyutu], [TedarikSureci], [DepolamaKosullari], [KampanyaDurumu], [TedarikMaliyet], [KazancMarji], [UrunAciklama], [IslemTarihi], [IslemYapanKullanici], [SilindiMi]) VALUES (12, N'Bluetooth Hoparlör', N'Elektronik', CAST(750.00 AS Decimal(10, 2)), 40, 2, CAST(N'2025-05-04' AS Date), NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, CAST(N'2025-05-04T17:27:13.420' AS DateTime), N'Sarp Yücel', 1)
GO
ALTER TABLE [dbo].[Kullanicilar] ADD  DEFAULT (getdate()) FOR [KayitTarihi]
GO
ALTER TABLE [dbo].[UrunlerYedek] ADD  DEFAULT (getdate()) FOR [IslemTarihi]
GO
ALTER TABLE [dbo].[UrunlerYedek] ADD  DEFAULT ('Sarp Yücel') FOR [IslemYapanKullanici]
GO
ALTER TABLE [dbo].[UrunlerYedek] ADD  DEFAULT ((0)) FOR [SilindiMi]
GO
ALTER TABLE [dbo].[Calisanlar]  WITH CHECK ADD  CONSTRAINT [FK_Calisanlar_Departmanlar] FOREIGN KEY([DepartmanID])
REFERENCES [dbo].[Departmanlar] ([DepartmanID])
GO
ALTER TABLE [dbo].[Calisanlar] CHECK CONSTRAINT [FK_Calisanlar_Departmanlar]
GO
ALTER TABLE [dbo].[Odemeler]  WITH CHECK ADD  CONSTRAINT [FK_Odemeler_Siparisler] FOREIGN KEY([SiparisID])
REFERENCES [dbo].[Siparisler] ([SiparisID])
GO
ALTER TABLE [dbo].[Odemeler] CHECK CONSTRAINT [FK_Odemeler_Siparisler]
GO
ALTER TABLE [dbo].[Urunler]  WITH CHECK ADD  CONSTRAINT [FK_Urunler_Tedarikciler] FOREIGN KEY([TedarikciID])
REFERENCES [dbo].[Tedarikciler] ([TedarikciID])
GO
ALTER TABLE [dbo].[Urunler] CHECK CONSTRAINT [FK_Urunler_Tedarikciler]
GO
/****** Object:  StoredProcedure [dbo].[sp_SiparisOlustur]    Script Date: 4.05.2025 18:04:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_SiparisOlustur]
    @MusteriID int,
    @UrunID int,
    @Miktar int
AS
BEGIN
    BEGIN TRY
        BEGIN TRANSACTION
            -- Ürün fiyatını al
            DECLARE @BirimFiyat decimal(10,2)
            SELECT @BirimFiyat = Fiyat FROM Urunler WHERE UrunID = @UrunID
            
            -- Siparişi oluştur
            INSERT INTO Siparisler (
                MusteriID, 
                UrunID, 
                SiparisTarihi, 
                Miktar, 
                BirimFiyat,
                ToplamFiyat
            )
            VALUES (
                @MusteriID,
                @UrunID,
                GETDATE(),
                @Miktar,
                @BirimFiyat,
                @BirimFiyat * @Miktar
            )

            -- Stok miktarını güncelle
            UPDATE Urunler
            SET StokMiktari = StokMiktari - @Miktar
            WHERE UrunID = @UrunID

        COMMIT TRANSACTION
        PRINT 'Sipariş başarıyla oluşturuldu.'
    END TRY
    BEGIN CATCH
        ROLLBACK TRANSACTION
        PRINT 'Hata oluştu, sipariş oluşturulamadı.'
    END CATCH
END
GO
/****** Object:  StoredProcedure [dbo].[sp_UrunEkle]    Script Date: 4.05.2025 18:04:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_UrunEkle]
    @UrunID int,
    @UrunAdi varchar(100),
    @Kategori varchar(100),
    @Fiyat decimal(10,2),
    @StokMiktari int,
    @TedarikciID int
AS
BEGIN
    INSERT INTO Urunler (
        UrunID,
        UrunAdi, 
        Kategori, 
        Fiyat, 
        StokMiktari, 
        TedarikciID,
        SatinAlmaTarihi
    )
    VALUES (
        @UrunID,
        @UrunAdi, 
        @Kategori, 
        @Fiyat, 
        @StokMiktari, 
        @TedarikciID,
        GETDATE()
    )
END
GO
/****** Object:  StoredProcedure [dbo].[sp_UrunGuncelle]    Script Date: 4.05.2025 18:04:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_UrunGuncelle]
    @UrunID int,
    @UrunAdi varchar(100),
    @Fiyat decimal(10,2),
    @StokMiktari int
AS
BEGIN
    UPDATE Urunler
    SET 
        UrunAdi = @UrunAdi,
        Fiyat = @Fiyat,
        StokMiktari = @StokMiktari
    WHERE UrunID = @UrunID
END
GO
/****** Object:  StoredProcedure [dbo].[sp_UrunSil]    Script Date: 4.05.2025 18:04:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_UrunSil]
    @UrunID int
AS
BEGIN
    DELETE FROM Urunler
    WHERE UrunID = @UrunID
END
GO
USE [master]
GO
