USE [master]
GO
/****** Object:  Database [NutritionApp]    Script Date: 17.12.2025 18:17:10 ******/
CREATE DATABASE [NutritionApp]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'NutritionApp', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\NutritionApp.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'NutritionApp_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\NutritionApp_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [NutritionApp].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [NutritionApp]
GO
/****** Object:  Table [dbo].[Meals]    Script Date: 17.12.2025 18:17:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Meals](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[MealName] [nvarchar](100) NOT NULL,
	[Protein_per_100g] [float] NOT NULL,
	[Carbs_per_100g] [float] NOT NULL,
	[Calories_per_100g] [float] NOT NULL,
	[Category] [nvarchar](20) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UserLogs]    Script Date: 17.12.2025 18:17:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserLogs](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[UserID] [int] NOT NULL,
	[MealID] [int] NOT NULL,
	[LogDate] [date] NOT NULL,
	[ConsumedGram] [float] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 17.12.2025 18:17:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Username] [nvarchar](50) NOT NULL,
	[PasswordHash] [nvarchar](256) NOT NULL,
	[Age] [int] NOT NULL,
	[Height_cm] [float] NOT NULL,
	[Weight_kg] [float] NOT NULL,
	[Goal] [nvarchar](20) NOT NULL,
	[ActivityLevel] [nvarchar](20) NOT NULL,
	[Gender] [nvarchar](10) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[WaterLogs]    Script Date: 17.12.2025 18:17:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[WaterLogs](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[UserID] [int] NOT NULL,
	[LogDate] [date] NOT NULL,
	[WaterAmount_ml] [float] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Meals] ON 

INSERT [dbo].[Meals] ([ID], [MealName], [Protein_per_100g], [Carbs_per_100g], [Calories_per_100g], [Category]) VALUES (41, N'Izgara Tavuk ve Brokoli', 27, 6, 165, N'WeightLoss')
INSERT [dbo].[Meals] ([ID], [MealName], [Protein_per_100g], [Carbs_per_100g], [Calories_per_100g], [Category]) VALUES (42, N'Somon ve Kuşkonmaz', 22, 3, 200, N'WeightLoss')
INSERT [dbo].[Meals] ([ID], [MealName], [Protein_per_100g], [Carbs_per_100g], [Calories_per_100g], [Category]) VALUES (43, N'Yoğurt ve Meyveler', 10, 15, 120, N'WeightLoss')
SET IDENTITY_INSERT [dbo].[Meals] OFF
GO
SET IDENTITY_INSERT [dbo].[Users] ON 

INSERT [dbo].[Users] ([ID], [Username], [PasswordHash], [Age], [Height_cm], [Weight_kg], [Goal], [ActivityLevel], [Gender]) VALUES (1, N'sarp', N'a665a45920422f9d417e4867efdc4fb8a04a1f3fff1fa07e998e86f7f7a27ae3', 19, 191, 83, N'Kiloyu Koru', N'Aktif', N'Erkek')
INSERT [dbo].[Users] ([ID], [Username], [PasswordHash], [Age], [Height_cm], [Weight_kg], [Goal], [ActivityLevel], [Gender]) VALUES (2, N'eren', N'a665a45920422f9d417e4867efdc4fb8a04a1f3fff1fa07e998e86f7f7a27ae3', 19, 180, 75, N'Kilo Al', N'Orta Hareketli', N'Erkek')
SET IDENTITY_INSERT [dbo].[Users] OFF
GO
SET IDENTITY_INSERT [dbo].[WaterLogs] ON 

INSERT [dbo].[WaterLogs] ([ID], [UserID], [LogDate], [WaterAmount_ml]) VALUES (1, 1, CAST(N'2025-12-17' AS Date), 0)
INSERT [dbo].[WaterLogs] ([ID], [UserID], [LogDate], [WaterAmount_ml]) VALUES (2, 2, CAST(N'2025-12-17' AS Date), 0)
SET IDENTITY_INSERT [dbo].[WaterLogs] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Users__536C85E43E6A30DC]    Script Date: 17.12.2025 18:17:10 ******/
ALTER TABLE [dbo].[Users] ADD UNIQUE NONCLUSTERED 
(
	[Username] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UQ__WaterLog__3368CB720333FD9A]    Script Date: 17.12.2025 18:17:10 ******/
ALTER TABLE [dbo].[WaterLogs] ADD UNIQUE NONCLUSTERED 
(
	[UserID] ASC,
	[LogDate] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Users] ADD  DEFAULT ('Erkek') FOR [Gender]
GO
ALTER TABLE [dbo].[WaterLogs] ADD  DEFAULT ((0)) FOR [WaterAmount_ml]
GO
ALTER TABLE [dbo].[UserLogs]  WITH CHECK ADD FOREIGN KEY([MealID])
REFERENCES [dbo].[Meals] ([ID])
GO
ALTER TABLE [dbo].[UserLogs]  WITH CHECK ADD FOREIGN KEY([UserID])
REFERENCES [dbo].[Users] ([ID])
GO
ALTER TABLE [dbo].[WaterLogs]  WITH CHECK ADD FOREIGN KEY([UserID])
REFERENCES [dbo].[Users] ([ID])
GO
USE [master]
GO
